{% extends "layout.html" %}
{% block title %}Sell{% endblock %}
{% block main %}
<form action="/sell" method="POST">
    <div class="mb-3">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option selected="">Symbol</option>
                {% for payment in purchased %}
                <option selected value="{{payment["symbol"]}}">{{payment["symbol"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="shares" placeholder="Shares" type="number">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}